.table-container {
  height: 90%;
  width: 97%;
  margin-top: 0.5em;
  margin-left: 0.75em;
  overflow: auto;
}

.border-shadow {
  box-shadow: 5px 5px 5px lightgray;
  background-color: transparent;
}

.mat-mdc-row:nth-child(odd) {
  background-color: lightgray !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: #F8F8F8 !important;
}

.mat-mdc-row:hover{
  background-color: rgba(166, 218, 166, 0.1) !important;
}

.mat-mdc-header-cell {
  background-color: beige !important;
  border-right: 1px solid lightgray;
}

.mat-mdc-cell {
  border-right: 1px solid lightgray;
}

.linklabel {
  color: blue;
  text-decoration: underline;
}

.linklabel:hover {
  cursor: pointer;
}

.selectedRight {
  border-right : 2px gray solid !important;
  border-top : 2px gray solid !important;
  border-bottom : 3px gray solid !important;
}

.selectedMiddle {
  border-top : 2px gray solid !important;
  border-bottom : 3px gray solid !important;
}

.selectedLeft {
  border-left : 3px gray solid !important;
  border-top : 2px gray solid !important;
  border-bottom : 3px gray solid !important;
}

.mydialog {
  overflow-x: hidden;
  border: 2px solid lightgray;
  box-shadow: 3px 3px 5px gray;
  border-radius: 6px 6px 6px 6px;
}

.titleDiv {
  
  margin-top: -1em;
  margin-left: -1em;
  padding-left: 0.5em;
  height: 2em;
  padding-top: 0.5em;
  width: 150%;
}

.search {
  cursor: pointer;
  width: 24px;
  height: 24px;
  
}

.search:hover {
  background: lightgray;
}

.filterOneColDialog {
  border: 2px solid lightgray;
  box-shadow: 3px 3px 5px gray;
  border-radius: 6px 6px 6px 6px;
  margin-top: 5em;
  height: 16em;
  width: 20em;
  overflow-x: hidden;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding-top: 12px;
  margin-left: 2px;
}

.homeLabel {
  font-size: 13px;
  margin-top: 8px;
  margin-left: 4px;
  cursor: pointer;
}

.batchLabel {
  font-size: 13px;
  margin-top: 8px;
  margin-left: 1em;
  font-weight: bold;
}

.entriesLabel {
  font-size: 13px;
  margin-top: 8px;
  margin-left: 1em;
  margin-left: 3em;
}

.toolbarDiv {
  display: flex;
  height: 32px;
  padding-top: 4px;
  border: 1px solid lightgray;
}

.pointer {
  cursor: pointer;
}

.imgFilter {
  margin-left: 2em;
  cursor: pointer;
}

.imgExcel {
  height: 16px;
  width: 16px;
  margin-left: 1em;
  margin-top: 8px;
  cursor: pointer;
}