<div class="toolbarDiv">
  <mat-icon class="pointer" (click)="goHome()" fontIcon="home"></mat-icon>
  <label class="homeLabel" (click)="goHome()">Home</label>
  <label class="batchLabel" >ExBatch+</label>
  <label class="entriesLabel" >{{entries}}</label>
  <mat-icon class="imgFilter" (click)="showFilterOneColDialog('SAP Material Number', 1)" fontIcon="filter_list"></mat-icon>
  <label class="homeLabel pointer" (click)="showFilterOneColDialog('SAP Material Number', 1)">Filter</label>
  <img class="pointer" src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647714-excel-64.png" class="imgExcel"/>
  <label class="homeLabel pointer" (click)="showFilterOneColDialog('SAP Material Number', 1)">Export to Excel</label>
</div>
<div class="table-container border-shadow">

  <table mat-table matSort (matSortChange)="announceSortChange($event)" [dataSource]="dataSource" class="table mat-elevation-z8">

    <ng-container matColumnDef="SAP_Material_Number" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header > SAP Mat.No. </th>
      <td mat-cell (click)="setSelected(element)" *matCellDef="let element" [ngClass]="{ 'selectedLeft': element.id=== currentId }"> {{element.SAP_Material_Number}} </td>
    </ng-container>
  
    <ng-container matColumnDef="FP_Batch_no__">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> FP Batch </th>
      <td mat-cell (click)="setSelected(element)" *matCellDef="let element" [ngClass]="{ 'selectedMiddle': element.id=== currentId }"> {{element.FP_Batch_no__}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Bulk_Batch_no_">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bulk Batch </th>
      <td mat-cell (click)="setSelected(element)" *matCellDef="let element" [ngClass]="{ 'selectedMiddle': element.id=== currentId }"> {{element.Bulk_Batch_no_}} </td>
    </ng-container>
  
    <ng-container matColumnDef="MA_name_">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MA Name </th>
      <td mat-cell (click)="setSelected(element)" *matCellDef="let element" [ngClass]="{ 'selectedMiddle': element.id=== currentId }"> {{element.MA_name_}} </td>
    </ng-container>
    <ng-container matColumnDef="MA_No_">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MA-No</th>
      <td mat-cell (click)="setSelected(element)" *matCellDef="let element" [ngClass]="{ 'selectedMiddle': element.id=== currentId }"> {{element.MA_No_}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Company">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
      <td mat-cell (click)="setSelected(element)" *matCellDef="let element" [ngClass]="{ 'selectedMiddle': element.id=== currentId }"> {{element.Company}} </td>
    </ng-container>
    <ng-container matColumnDef="API_Manufacturer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>API Manufacturer</th>
      <td mat-cell (click)="setSelected(element)" *matCellDef="let element" [ngClass]="{ 'selectedMiddle': element.id=== currentId }"> {{element.API_Manufacturer}} </td>
    </ng-container>
    <ng-container matColumnDef="Manufacturer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
      <td mat-cell (click)="setSelected(element)" *matCellDef="let element" [ngClass]="{ 'selectedMiddle': element.id=== currentId }"> {{element.Manufacturer}} </td>
    </ng-container>
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{ 'selectedRight': element.id=== currentId }">
        <label (click)="openDialog(element)"
        class="linklabel">Details</label>
      </td> 
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; " ></tr>
  </table>
</div>


<dialog #messageboxDialog class="mydialog">
  <messagebox-dialog
    [message]="message"
    [messageIndex]="messageIndex">
  </messagebox-dialog>
</dialog>

<dialog #filterOneColDialog class="filterOneColDialog">
  <filter-one-col-dialog
    (childFilter)="emitFilterOneCol($event)"
    [currentCol]="currentCol"
    [currentIndex]="currentIndex"
    [apimanufacturers]="apimanufacturers"
    [manufacturers]="manufacturers">
  </filter-one-col-dialog>
</dialog>
<router-outlet />
