<div class="bgBlue">
    <mat-form-field  style="width: 100%;">
        <mat-label>MA Name</mat-label>
        <input [(ngModel)]="data.entry.MA_name_" matInput disabled/>
    </mat-form-field>
</div>
<div>
    <mat-form-field style="width: 25%;">
        <mat-label>SAP Mat. No.</mat-label>
        <input [(ngModel)]="data.entry.SAP_Material_Number" matInput disabled/>
    </mat-form-field>
    <mat-form-field style="width: 25%;">
        <mat-label>MA No.</mat-label>
        <input [(ngModel)]="data.entry.MA_No_" matInput disabled/>
    </mat-form-field>
    <mat-form-field style="width: 25%;">
        <mat-label>FP Batch No.</mat-label>
        <input [(ngModel)]="data.entry.FP_Batch_no__" matInput/>
    </mat-form-field>
    <mat-form-field style="width: 25%;">
        <mat-label>Bulk Batch No.</mat-label>
        <input [(ngModel)]="data.entry.Bulk_Batch_no_" matInput/>
    </mat-form-field>
</div>

<div>
    <mat-tab-group>
        <mat-tab label="Warehouse" >
            <div style="display: flex;">
                <mat-form-field style="width: 15%;">
                    <mat-label>Company</mat-label>
                    <input [(ngModel)]="data.entry.Company" matInput disabled/>
                </mat-form-field>
                <mat-form-field style="width: 10%;">
                    <mat-label>Pack size</mat-label>
                    <input [(ngModel)]="data.entry.Pack_size" matInput disabled/>
                </mat-form-field>
                <mat-form-field style="width: 25%;">
                    <mat-label>NTIN</mat-label>
                    <input [(ngModel)]="data.entry.NTIN" matInput disabled/>
                </mat-form-field>
                <mat-form-field style="width: 25%;"> 
                    <mat-label >Manufact. date</mat-label>
                    <div style="display: flex;">
                    <input [(ngModel)]="data.entry.Manufacturing_date" matInput />
                    <mat-icon (click)="showMonthsYears(1);" class="pointer" aria-hidden="false" aria-label="Example home icon" fontIcon="date_range"></mat-icon></div>
                </mat-form-field> 
                <mat-form-field style="width: 25%;"> 
                    <mat-label >Expiry date</mat-label>
                    <div style="display: flex;">
                    <input [(ngModel)]="data.entry.Expiry_date" matInput />
                    <mat-icon (click)="showMonthsYears(2);" class="pointer" aria-hidden="false" aria-label="Example home icon" fontIcon="date_range"></mat-icon></div>
                </mat-form-field> 
            </div> 
            <div>
                <mat-form-field style="width: 100%;">
                    <mat-label>API Manufacturer</mat-label>
                    <mat-select [(ngModel)]="data.entry.API_Manufacturer">
                    @for (m of data.apimanufacturers; track m) {
                        <mat-option [value]="m.API_Manufacturer">{{m.API_Manufacturer}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>
            </div>   
            <div>
                <mat-form-field style="width: 100%;">
                    <mat-label>Manufacturer</mat-label>
                    <mat-select [(ngModel)]="data.entry.Manufacturer">
                    @for (m of data.manufacturers; track m) {
                        <mat-option [value]="m.Manufacturer">{{m.Manufacturer}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>
            </div>  
            <div>
                <mat-form-field style="width: 30%;">
                    <mat-label>EU / Non-EU</mat-label>
                    <mat-select [(ngModel)]="data.entry.EU__Non_EU">
                    @for (eu of eus; track eu) {
                        <mat-option [value]="eu">{{eu}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 70%;">
                    <mat-label>Release blocking site</mat-label>
                    <mat-select [(ngModel)]="data.entry.Release__Blocking_Site">
                    @for (r of data.releasesites; track r) {
                        <mat-option [value]="r.release_site">{{r.release_site}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>             
            </div> 
            <div>
                <mat-form-field style="width: 25%;">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="data.entry.Status">
                    @for (s of status; track s) {
                        <mat-option [value]="s">{{s}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>  
                <mat-form-field style="width: 25%;">
                    <mat-label>Sample receipt date</mat-label>
                    <input 
                        (dateChange)="addEvent($event, 1)" 
                        matInput [matDatepicker]="srpicker" 
                        [formControl]="dateSr">
                    <mat-datepicker-toggle matIconSuffix [for]="srpicker"></mat-datepicker-toggle>
                    <mat-datepicker #srpicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field style="width: 25%;">
                    <mat-label>Block mark. date</mat-label>
                    <input 
                        (dateChange)="addEvent($event, 2)"
                         matInput [matDatepicker]="bmpicker" 
                         [formControl]="dateBm">
                    <mat-datepicker-toggle matIconSuffix [for]="bmpicker"></mat-datepicker-toggle>
                    <mat-datepicker #bmpicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field style="width: 25%;">
                    <mat-label>Block sale date</mat-label>
                    <input 
                        (dateChange)="addEvent($event, 3)"
                         matInput [matDatepicker]="bspicker" 
                         [formControl]="dateBs">
                    <mat-datepicker-toggle matIconSuffix [for]="bspicker"></mat-datepicker-toggle>
                    <mat-datepicker #bspicker></mat-datepicker>
                </mat-form-field>
            </div> 
        </mat-tab>
        <mat-tab label="BRR Process"> Content 2 </mat-tab>
        <mat-tab label="BRR Status"> Content 3 </mat-tab>
        <mat-tab label="QR Process"> Content 3 </mat-tab>
      </mat-tab-group>
</div>
<div class="example-button-row">
    <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button (click)="save()">Save</button>
</div>

<dialog #monthsYearsDialog class="mydialog">
    <months-years-dialog 
      (childSave)="emitSave($event)" 
      (childCancel)="emitCancel()" 
      [dmonth]="dmonth"
      [dyear]="dyear"
      [index]="dmindex">
    >
    </months-years-dialog>
  </dialog>


