<div class="bgBlue">
    <mat-form-field  style="width: 100%;">
        <mat-label>MA Name</mat-label>
        <input [(ngModel)]="data.entry.MA_name_" matInput disabled/>
    </mat-form-field>
</div>
<div>
    <mat-form-field style="width: 25%;">
        <mat-label>SAP Mat. No.</mat-label>
        <input [(ngModel)]="data.entry.SAP_Material_Number" matInput disabled/>
    </mat-form-field>
    <mat-form-field style="width: 25%;">
        <mat-label>MA No.</mat-label>
        <input [(ngModel)]="data.entry.MA_No_" matInput disabled/>
    </mat-form-field>
    <mat-form-field style="width: 25%;">
        <mat-label>FP Batch No.</mat-label>
        <input [(ngModel)]="data.entry.FP_Batch_no__" matInput/>
    </mat-form-field>
    <mat-form-field style="width: 25%;">
        <mat-label>Bulk Batch No.</mat-label>
        <input [(ngModel)]="data.entry.Bulk_Batch_no_" matInput/>
    </mat-form-field>
</div>

<div>
    <mat-tab-group>
        <mat-tab label="Warehouse">
            <div>
                <mat-form-field style="width: 20%;">
                    <mat-label>Company</mat-label>
                    <input [(ngModel)]="data.entry.Company" matInput disabled/>
                </mat-form-field>
                <mat-form-field style="width: 12%;">
                    <mat-label>Pack size</mat-label>
                    <input [(ngModel)]="data.entry.Pack_size" matInput disabled/>
                </mat-form-field>
                <mat-form-field style="width: 28%;">
                    <mat-label>NTIN</mat-label>
                    <input [(ngModel)]="data.entry.NTIN" matInput disabled/>
                </mat-form-field>
                <mat-form-field style="width: 20%;">
                    <mat-label >Manufact. date</mat-label>
                    <input 
                        matInput [matDatepicker]="dp" 
                        [formControl]="dateManu">
                    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp
                        startView="multi-year"
                        (monthSelected)="setMonthAndYear($event, dp)"
                        panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
                
                <mat-form-field style="width: 20%;">
                    <mat-label>Expiry date</mat-label>
                    <input matInput [matDatepicker]="dpe" [formControl]="dateX">
                    <mat-datepicker-toggle matIconSuffix [for]="dpe"></mat-datepicker-toggle>
                    <mat-datepicker #dpe
                        startView="multi-year"
                        (monthSelected)="setMonthAndYearX($event, dpe)"
                        panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>
            </div> 
            <div>
                <mat-form-field style="width: 100%;">
                    <mat-label>API Manufacturer</mat-label>
                    <!--<input [(ngModel)]="data.entry.API_Manufacturer" matInput disabled/>-->
                    <select [(ngModel)]="data.entry.API_Manufacturer" matNativeControl>
                        <option 
                            *ngFor="let api of data.apimanufacturers">{{api.API_Manufacturer}}
                        </option>
                    </select>
                </mat-form-field>
            </div>   
            <div>
                <mat-form-field style="width: 100%;">
                    <mat-label>Manufacturer</mat-label>
                    <!--<input [(ngModel)]="data.entry.Manufacturer" matInput disabled/>-->
                    <select [(ngModel)]="data.entry.Manufacturer" matNativeControl>
                        <option 
                            *ngFor="let manu of data.manufacturers">{{manu.Manufacturer}}
                        </option>
                    </select>
                </mat-form-field>
            </div>  
            <div>
                <mat-form-field  style="width: 30%;">
                    <mat-label>EU / Non-EU</mat-label>
                    <select [(ngModel)]="data.entry.EU__Non_EU" matNativeControl>
                        <option 
                            *ngFor="let eu of eus">{{eu}}
                        </option>
                    </select>
                </mat-form-field>
                <mat-form-field style="width: 70%;">
                    <mat-label>Rel. / blocking site</mat-label>
                    <select [(ngModel)]="data.entry.Release__Blocking_Site" matNativeControl>
                        <option 
                            *ngFor="let site of data.releasesites">{{site.release_site}}
                        </option>
                    </select>
                </mat-form-field>               
            </div> 
            <div>
                <mat-form-field  style="width: 15%;">
                    <mat-label>Status</mat-label>
                    <select [(ngModel)]="data.entry.Status" matNativeControl>
                        <option 
                            *ngFor="let s of status">{{s}}
                        </option>
                    </select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [formControl]="dateStart">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                <mat-form-field style="width: 33%;">
                    <mat-label>Sample rel. date</mat-label>
                    <input [(ngModel)]="data.entry.Sample_Receipt_date" matInput/>
                </mat-form-field>
               
            </div> 
        </mat-tab>
        <mat-tab label="BRR Process"> Content 2 </mat-tab>
        <mat-tab label="BRR Status"> Content 3 </mat-tab>
        <mat-tab label="QR Process"> Content 3 </mat-tab>
      </mat-tab-group>
</div>
<div class="example-button-row">
    <button mat-raised-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button (click)="save()">Save</button>
</div>

