.toolbarDiv {
    display: flex;
    height: 32px;
    padding-top: 2px;
    border: 1px solid lightgray;
  }
.batchLabel {
  font-size: 13px;
  margin-top: 4px;
  margin-left: 1em;
  font-weight: bold;
}

.homeLabel {
  font-size: 13px;
  margin-top: 4px;
  margin-left: 4px;
}

.pointer {
    cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: dodgerblue;
  overflow-y: hidden;
  height: 94%;
}

.grid-container > div {
  background-color: #f1f1f1;
  text-align: left;
  padding: 10px;
}

.item1 {
  grid-column-start: 2;
  grid-column-end: 5;
}

.mt-025 {
  margin-top: -0.25em;
}

.items {
  height: 1.75em;
  border: 1px solid darkgray;
  padding-top: 8px;
  padding-left: 8px;
}

.items:hover {
  background: rgba(166, 218, 166, 0.1);
  cursor: pointer;
  color: blue;
}

.item2 {
  border: 1px solid lightgray;
}

.mat-mdc-row:hover{
  background-color: rgba(166, 218, 166, 0.1) !important;
  color: blue;
  cursor: pointer;
}

.icons {
  cursor: pointer;
  padding-left: 8px;
}

.selectedLeft {
  border-left : 3px gray solid !important;
  border-top : 2px gray solid !important;
  border-bottom : 3px gray solid !important;
}

.mydialog {
  overflow-x: hidden;
  border: 2px solid lightgray;
  box-shadow: 3px 3px 5px gray;
  border-radius: 6px 6px 6px 6px;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 5px;
}

.left {
  width: 30%;
  left: 0;
}

.right {
  width: 70%;
  margin-top: 2em;
  right: 0;
  overflow-y: hidden;
}

.table {
  height: 32em !important;
  overflow-y: scroll;
}

.batchtable {
  height: auto !important;
}

.selectedLeft {
  border-left : 2px gray solid !important;
  border-top : 2px gray solid !important;
  border-bottom : 3px gray solid !important;
}

.selectedRight {
  border-right : 2px gray solid !important;
  border-top : 2px gray solid !important;
  border-bottom : 3px gray solid !important;
}
tr {
  cursor: pointer  !important;
}