<div class="toolbarDiv"  >
    <mat-icon class="pointer" (click)="goHome()" fontIcon="home"></mat-icon>
    <label class="homeLabel" (click)="goHome()">Home</label>
    <label class="batchLabel" >ExBatch+</label>
</div>
<div class="split">
    <table mat-table matSort [dataSource]="materialMasterSoure" class="batchtable mat-elevation-z8">
            <ng-container matColumnDef="SAP_Mat_No" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header >SAP Mat. No.</th>
              <td 
                mat-cell 
                *matCellDef="let element" 
                > {{element.SAP_Mat_No}} 
              </td>
            </ng-container>
            <ng-container matColumnDef="MA_Name_SAP" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header >SAP Name</th>
              <td 
                mat-cell 
                *matCellDef="let element" 
                > {{element.MA_Name_SAP}} 
              </td>
            </ng-container>
            <ng-container matColumnDef="MA_Name_Batch" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header >BO Name</th>
              <td 
                mat-cell 
                *matCellDef="let element" 
                > {{element.MA_Name_Batch}} 
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsMaterial; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsMaterial; " ></tr>
          </table> 
</div>
<router-outlet />

