span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-top: 12px;
    margin-left: 2px;
}

.homeLabel {
    font-size: 13px;
    margin-top: 8px;
    margin-left: 4px;
    cursor: pointer;
}

.batchLabel {
    font-size: 13px;
    margin-top: 8px;
    margin-left: 1em;
    font-weight: bold;
}

.toolbarDiv {
    display: flex;
    height: 32px;
    padding-top: 4px;
    border: 1px solid lightgray;
}

.pointer {
    cursor: pointer;
}