<div class="toolbarDiv">
    <mat-icon class="pointer" (click)="goHome()" fontIcon="home"></mat-icon>
    <label class="homeLabel" (click)="goHome()">Home</label>
    <label class="batchLabel" >ExBatch+</label>
    <label class="entriesLabel" >{{entries}}</label>
    <mat-icon class="imgFilter" fontIcon="filter_list"></mat-icon>
    <label class="homeLabel pointer" >Filter</label>
    <img class="pointer" src="https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647714-excel-64.png" class="imgExcel"/>
    <label class="homeLabel pointer" >Export to Excel</label>
  </div>
<mat-grid-list cols="4" rowHeight="33%">
    @for (tile of tiles; track tile) {
      <mat-grid-tile
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">{{tile.text}}</mat-grid-tile>
    }
  </mat-grid-list>